body {
    font-size: 5px;
}



.contie{
    background-color:darkred;
}
.contie > slidecontainer {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Global Serif';
    align-self: auto;
}
#slidecontainer {

    font-size: 10px;
    display: flex;
    flex-direction: row;
    font-family: 'Global Serif';
    align-self:baseline;
}
    #slidecontainer h1 {
        font-size: 10px;
        display: flex;
        flex-direction: row;
        font-family: 'Global Serif';
        align-self: auto;
    }